/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

/* ---- FILTRE ----- */

.partiefiltre {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    align-items: center;
}

.Filtres {
    display: flex;
    padding: 10px 20px 10px 20px;
    flex-direction: row;
    border: 3px solid #e2e2e2;
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;
    border-bottom-left-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
    gap: 10px;
    font-weight: bold;
}
.Filtres:hover {
    background-color: #c7ddff;
}

/* ----- BARRE RECHERCHE ----- */

.fa-location-dot {
    font-size: 20px;  /* Taille de l'icône */
    color: black !important;
    padding-bottom: 10px;
    padding-top: 15px;
}

input {
    border: 1px solid #F2F2F2;
    font-weight: bold;
    padding-left: 15px;
    outline: none;
}

.BR {
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin: auto;
}

form {
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-bottom: 20px;
    height: 50px;
    font-weight: bold;
    border-color: #F2F2F2
}

.background-location {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-left-radius: 15px 18px;
    border-bottom-left-radius: 15px 18px;
    background-color: #F2F2F2;
    width: 50px;
    height: 100%;
}

.bouton-recherche {
    display: flex;
    justify-content: center;
    width: 150px;
    border-top-right-radius: 15px 18px;
    border-bottom-right-radius: 15px 18px;
    background-color: rgb(4, 0, 255);
}

.logo-header {
    width: 100px;
    padding: 10px;
}

header {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

nav ul li {
    position: relative; /* Nécessaire pour positionner la barre */
    display: flex;
    border-top: 1px solid transparent;
    align-items: center;
    justify-content: center;
    
}

nav ul li:hover {
    color: rgb(4, 0, 255);
    border-top: 1px solid;

}

nav ul {
    width: fit-content;
    list-style-type: none; /* Supprime les puces */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: none; */
    gap: 20px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    /* padding: 0 50px; */
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.Hcard {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 190px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-txt {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.card-title-h {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.card-subtitle-h {
    margin-top: 7px;
    margin-bottom: 3px;
    font-size: 13px;
}
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    height: 650px;
}
.hebergements-marseille-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}


.hebergements-cards .card-content {
    width: 200px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


.colonne-1 {
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}


.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}


.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*****Activité à marseile *****/

.card-title-A {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 0px;
}
/* .actrow {
    width: 100%;
    height: fit-content;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
} */
 

.actcard {
    background-color: white;
    border-radius: 20px;
    padding-bottom: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 270px;
    height: fit-content;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
h4 {
    padding-left: 15px;
}
.actcard img {
    width: 100%;
    height: 320px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.act-card-content {
    width: 200px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.activites-marseille {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/****** footer ***********/

footer {
    background-color: #d9d9d9;
    width: 100%;
    height: 150px;
    margin-left: 5px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 200px;
    margin-top: 40px;
    padding: 20px;
}

.colonneF {
    width: 100%;
    height: 300px;
    margin-left: 10px;
    display: flex;
    justify-content: left;
    flex-direction: column;  
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    main {
        width: 100%;
    }
    nav {
        width: 100%;
    }

    li:hover::before {
        width:200px;
    }

    li::before {
        top: 30px;
        left: -50px;
    }

    li {
        flex-grow: 1;
    }

    ul {
        display: flex;
        justify-content: center;
    }


    header {
        flex-direction: column;
        align-items:center;
        margin: 0px;
    }

    .logo-header {
        padding-left: 50px;
        width: 80px;
    }

    .hebergements-and-populaires section {
        width: 100%;
    }

    .main-container {
        /* padding: 0px; */
    }

    .logo-header {
        /* padding: none; */
        }
    .partiefiltre {
        width:  100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5px 50px 50px;
        gap:20px;
    }

    .titrefiltre {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .hebergements-and-populaires {
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }

    .Hcard {
        width: 300px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        margin-left: 0px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .populaires-cards img {
        width: 50%;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    /* ... */

    .activites-marseille {
        flex-direction: column;
        align-items: center;
    }

    .actcard {
        width: 33 0px;
    }
    .actcard img {
        height: 130px;
    }

    footer {
        display: flex;
        justify-content: left;
        flex-direction: column;
        gap: 100px;
        height: fit-content;
        width: 100%;
        margin-left: 0px;
        /* padding: 0px; */
    }
}